# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Declare files that will always have LF line endings on checkout.
manage text eol=lf
*.sh text eol=lf
*.md text eol=lf
*.json text eol=lf
**/bin/**/* text eol=lf
**/scripts/**/* text eol=lf
**/genesis/**/* text eol=lf
**/cli-scripts/**/* text eol=lf
