pyyaml
aiodns~=1.1.0
aiohttp~=3.3.0
base58~=1.0.0
cchardet~=2.1.0
rlp~=0.6.0
#indy-anoncreds-dev==1.0.46
#indy-node-dev==1.6.636
#indy-plenum-dev==1.6.566
von-anchor==1.6.31
#git+https://github.com/PSPC-SPAC-buyandsell/didauth.git@v1.2.2
#git+https://github.com/PSPC-SPAC-buyandsell/von-x.git@v1.4.0
