pyyaml~=5.1.1
aiodns~=2.0.0
aiohttp~=3.5.0
aiohttp-jinja2~=1.1.2
aiosqlite~=0.10.0
base58~=1.0.0
cchardet~=2.1.0
rlp~=0.6.0
supervisor~=4.0.4
#indy-anoncreds-dev==1.0.46
#indy-node==1.9.0
#indy-plenum==1.9.0
